{% extends "base.html" %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1>Edit Profile</h1>
        <form method="post">
            {% csrf_token %}
            {{ profile_form.as_p }}
            {% if tour_guide %}
                {{ tour_guide_form.as_p }}
            {% endif %}
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
        <a href="{% url 'profile' %}" class="btn btn-secondary mt-3">Cancel</a>
    </div>
{% endblock %}
