{% extends "base.html" %}

{% block title %}Home - Gofirar.com{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron mt-4">
            <h1 class="display-4">Welcome</h1>
            <p class="lead">This is a tour guiding and booking platform.</p>
            <hr class="my-4">
            <p>You can find and book tour guides on our platform.</p>
            <a class="btn btn-primary btn-lg" href="{% url 'tour_guide_list' %}" role="button">Tour Guides</a>
        </div>
    </div>
{% endblock %}